__pycache__/
anomaly-env/
.venv/
models/
results/
documentos/
figures/
.vscode/
template/

autoencoder_anomalias.ipynb

EjemploTesis.pdf
EjemploTesis.tex
*.pyc
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.vrb
*.nav
*.snm
*.lot
*.blg
*.bbl
*.lof
*.eps