\__pycache__
\anomaly-env
\models
\results
\documentos
\figures
\.vscode

autoencoder_anomalias.ipynb

EjemploTesis.pdf
EjemploTesis.tex
*.pyc
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.vrb
*.nav
*.snm
*.lot
*.blg
*.bbl
*.lof