anotaciones.md
\pytorch-env
\anomaly-env
\pruebas
\models
\legacy
\results
\documentos
\presentation
\figures
\probar
\__pycache__
pruebas0.py
pruebas.py
train_autoencoder1.py
grid_search1.py
EDA1.ipynb
test1.
utils1.py
notas.txt
breast-cancer.csv
EjemploTesis.pdf
EjemploTesis.tex
*.pyc
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.vrb
*.nav
*.snm